<h2><%= "Selecting flight from #{@flight.from.first.name} to #{@flight.to.first.name} on #{@flight.date}"%></h2>

<%= form_with(model: @booking) do |f| %>
  Passengers:
  <ul>
    <%= f.fields_for :passengers do |passenger_form| %>
      <li>
        <%= passenger_form.label :name %>
        <%= passenger_form.text_field :name %>

        <%= passenger_form.label :email %>
        <%= passenger_form.text_field :email %>
      </li>
    <% end %>
  </ul>
  <%= f.hidden_field(:flight_id, :value => @flight.id) %>
  <%= f.submit %>
<% end %>